@font-face
{
  font-family: 'AFRB';

  src: url('../../fonts/Arial-for-Rotterdam/Arial-for-Rotterdam-Bold.ttf');
}


@font-face
{
  font-family: 'ArialMT';

  src: url('../../fonts/ArialMT/ArialMT-Regular.ttf');
}

$logo_url: url('../../images/Logo-rdam.png');
$image_landing: url('../../images/martins-zemlickis.jpg');
$image_home1: url('../../images/jurriaan-snikkers.jpg');
$image_home2: url('../../images/tim-gouw.jpg');

$color_green: #18933c;

a:hover {
  text-decoration: none;
}

.logo_header
{
  position: relative;
  top: -60px;
  right: -20px;

  float: right;

  width: 333px;
  height: 39.7px;

  background: $logo_url;
  background-repeat: no-repeat;
  background-size: contain;
}

#plannen .logo_header {
  right: 30px;
  top: 35px;
  height: auto;
  width: auto;
  background: none;
  float: left;
}

.login_header {
  float: right;
  position: absolute;
  top: 35px;
  right: 20px;
}

.login_header button.btn-default,
.login_header button.btn-default:hover {
  width: 160px;
  height: 40px;
  background: $color_green;
  color: #fff;
  font-family: "ArialMT";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 0;
  border: none;
}

.logo_header h1 {
  font-family: 'AFRB';
  margin: 0;
}

.rectangle
{
  width: 410px;
  height: 87px;
  margin: 0 auto;

  background-color: #18933c;
}

#plannen .rectangle
{
  width: 440px;
  height: 61px;
  margin: 0 0 20px 0;

  background-color: #18933c;
}

.rectangle_intro
{
  width: 410px;
  height: 582px;
  margin: 0 auto 200px auto;

  background-color: #18933c;
}

#plannen .rectangle_intro
{
  width: 440px;
  height: 340px;
  display: inline-block;
  margin-bottom: 20px;

  background-color: #18933c;

  h3
  {
    font-family: 'AFRB';
    font-size: 40px;

    margin-top: 0 !important;
    padding: 20px;

    letter-spacing: normal;

    color: #fff;
  }
}

.image_landing
{

  width: 100%;
  height: 100%;

  background-image: $image_landing;
  background-size: cover;
}

.image_home
{
  width: 61%;
  position: absolute;
  right: 20px;
  height: 421px;
  margin-bottom: 20px;

  background-image: $image_home1;
  background-size: cover;
}

.container
{
  width: 100%;
  padding: 0;
}

.header
{
  height: 117px;
  margin-right: 30px;
  margin-left: 30px;
}

.rectangle_intro h3
{
  font-family: 'AFRB';
  font-size: 60px;

  margin-top: 0 !important;
  padding: 20px;

  letter-spacing: normal;

  color: #fff;
}

#plannen .box:nth-child(2) {
  margin-bottom: 20px;
}

.rectangle_intro p
{
  font-family: 'ArialMT';
  font-size: 18px;

  margin: 25px;

  letter-spacing: normal;

  color: #fff;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
  padding: 0 10px;
}

.form-horizontal .control-label {
  text-align: left;
  padding-bottom: 7px;
  font-weight: 500;
  color: #fff;
}

.form-control {
  background: transparent;
  width: 348px;
  height: 40px;
  color: #fff;
  border: solid 3px #fff;
  border-radius: 0;
}

.login_btn,
.login_btn:hover {
  width: 122px;
  background-color: #fff;
  border: solid 2px #fff;
  border-radius: 0;
  font-family: "ArialMT";
  font-size: 20px;
  font-weight: bold;
  color: #000;

  i.fa.fa-arrow-circle-o-right {
    position: relative;
    top: 1px;
  }
}

